<%= render FormWrapperComponent.new(title: I18n.t("characters.enter_character_name")) do %>
  <%= form_with(model: character, url: {action: "next_step", controller: "characters"}, data: {remote: true}) do |form| %>
    <div class="field">
      <%= form.label :name, I18n.t("characters.name"), class: label_class %>
      <%= form.text_field :name, class: "#{input_class} mt-2", placeholder: "Jonh" %>
    </div>
    <%= form.hidden_field :step, value: 1 %>
    <div class="w-full mt-4 flex items-center space-x-4">
      <%= form.submit I18n.t("next"), class: color_button %>
    </div>
  <% end %>

<% end %>