<div class="w-full min-h-screen items-center self-center flex">
  <div class="w-6/12 mx-auto p-8 my-8 rounded bg-white shadow-lg">
    <h1 class="text-3xl font-medium py-4"><%= I18n.t("users.login") %></h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "w-full flex flex-wrap space-y-4"}) do |f| %>
      <div class="w-full">
        <%= f.label :email, I18n.t("users.attributes.email"), class: label_class %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "#{input_class} mt-2" %>
      </div>

      <div class="w-full">
        <%= f.label :password, I18n.t("users.attributes.password"), class: label_class %><br/>
        <%= f.password_field :password, autocomplete: "current-password", class: "#{input_class} mt-2" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="w-full">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, I18n.t("users.remember_me") %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit I18n.t("users.login"), class: color_button %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>