<!DOCTYPE html>
<html>
<head>
  <title>WhiteboardTest</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render HeaderComponent.new() %>
<main data-controller-action="<%= controller_name %>-<%= action_name %>">
  <div class="w-11/12 mx-auto ">
    <div class="w-full md:w-6/12 mx-auto space-y-3" id="flash-messages-wrap">
      <% flash.each do |type, data| %>
        <%= render NotificationComponent.new(type: type, data: data) %>
      <% end %>
    </div>
    <%= yield %>
  </div>
</main>


</body>
</html>
